/DisciplinaJaCadastradaException.class
/DisciplinaNaoEncontradaException.class
/NotificacaoJaAdicionadaException.class
/NotificacaoNaoEncontradaException.class
/TurmaJaCriadaException.class
/TurmaNaoEncontradaException.class
